body {
    box-sizing: border-box;
    margin: 0;

    & * {
        box-sizing: border-box;
    }
}

button {
    .no-border-no-outline;

    cursor: pointer;
}

/*
- This part of the code should be deleted;
- Use selector below to set bg color of the whole consonant container;
- This is useful when you want to test theming on the different components that have transparent bg;
- For lightest and light themes, base bg is #fff;
- For dark theme, base bg is #323232;
- For darkest theme, base bg is #1e1e1e;
*/

#someDivId {
    background-color: #1e1e1e;
}
